.large {
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 36px;
}

.H1 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 36px;
}

.H2 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 24px;
}

.H3 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
}

.regular_text_16 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

.bold_text_16 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
}

.regular_text_14 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
}

.medium_text_14 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 24px;
}

.bold_text_14 {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 24px;
}

.small_text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
}

.semi-bold_small_text {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
}

.regular_link {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
}

.small_link {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
}
