.large {
  font-weight: 600;
  font-size: 26px;
  line-height: 138%;
}

.H1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
}

.H2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
}

.H3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.regular_text_16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.bold_text_16 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.regular_text_14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
}

.medium_text_14 {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
}

.bold_text_14 {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
}

.small_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
}

.semi-bold_small_text {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
}

.regular_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: none;
}

.small_link {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: none;
}
