.linkSignIn {
  display: flex;
  justify-content: center;
  margin-top: 24px;

  a {
    margin-top: 12px;
    margin-bottom: 30px;
    color: var(--color-primary-accent-500);
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    transition: color 0.2s;

    &:hover {
      color: var(--color-primary-light-100);
      text-decoration: none;
    }
  }
}

.reCaptcha {
  border: 2px solid var(--color-primary-dark-300);
  border-radius: 2px;
  padding: 32px 20px;
  width: 300px;
  
  input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    transform: scale(2);
    margin-left: 5px;
    border: 1px solid #b7b7b7;
    border-radius: 1px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: var(--color-primary-light-100);
  }

  input[type="checkbox"]::after {
    content: '';
    background-image: url('../../../shared/assets/icons/checkmark.svg');
    background-repeat: no-repeat;
  }
}

.typography {
  margin-left: 13px;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 12px;
  color: var(--color-primary-light-100);
}
