.form {
  margin-top: 35px;
}

.inputContainer {
  margin-bottom: 25px; 
  &:last-child {
    margin-bottom: 0; 
  }
}

.requirementsBlock {
  margin-bottom: 40px; 
}

.passwordRequirements {
  margin-top: 10px;
  margin-bottom: 15px;
  color: var(--color-primary-light-900);
}

.requirementsList {
  padding-left: 20px;
  color: var(--color-primary-light-900);
  font-size: 14px;
  
  li {
    margin-bottom: 4px;
  }
}

.buttonContainer {
  display: flex;
  gap: 16px;
  flex-direction: column;
}