.inputWrapper {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  border-radius: 2px;


  .label {
    margin: 0px 0px 2px 1px;
    font-size: 14px;
    color: #8d9094;
  }

  .inputContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 2px;

    .toggleButton {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      color: #ffffff;
      cursor: pointer;
    }
  }

  .input {
    height: 34px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #4c4c4c;
    padding: 0px 0px 0px 12px;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    color: #8d9094;

    &::placeholder {
      color: #8d9094;
    }

    &:hover:not(:disabled):not(:focus) {
      border-color: #8d9094;
      color: #8d9094;
    }

    &:focus:not(:disabled) {
      border-color: #397df6;
      color: #8d9094;
    }

    &:disabled {
      border-color: #4c4c4c;
      color: #4c4c4c;
      &::placeholder {
        color: #4c4c4c;
      }
    }
  }

  &.inputWithButton {
    .input {
      padding-right: 30px;
    }
  }

  &.active .input {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #171717;
  }

  &.error .input {
    border-color: #cc1439;
    color: #ffffff;
    &:focus:not(:disabled) {
      border-color: #2f68cc;
    }
  }

  &.error .errorMessage {
    margin-top: 4px;
    font-size: 12px;
    color: #cc1439;
  }

  &.active .label,
  &.input:focus + .label {
    color: #8d9094;
  }

  &.disabled {
    .label {
      color: #4c4c4c;
    }
    .toggleButton {
      color: #4c4c4c;
      cursor: default;
    }
  }
}
