

.inputWrapper {
  display: flex;
  width: 300px;
  height: 100px;
  flex-direction: column;
  font-family: Inter;
  background-color: black;
}

.label {
  margin: 0px 0px 2px 1px;
  font-size: 14px;
  color: #8D9094;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  height: 34px;
  border-radius: 2px;
  border: 1px solid #4C4C4C;
  padding: 0px 12px;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  color: #8D9094;
  &::placeholder {

  }
}

.inputWithButton .input {
  padding-right: 36px;
}

.searchInput .input {
  padding-left: 30px;
}

.icon {
  position: absolute;
  left: 10px;
  font-size: 16px;
}

.toggleButton {
  position: absolute;
  right: 8px;
  font-size: 16px;
  pointer-events: none;
}

.errorMessage {
  margin-top: 4px;
  font-size: 12px;
}

.error .input {
}
