.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
}

.svgContainer {
  width: 80%;
  display: flex;
  justify-content: space-evenly;

  svg {
    cursor: pointer;
    transition: transform 0.2s;
    margin: 1rem;

    &:hover {
      transform: scale(1.1);
    }
  }
}
