@use '../../../shared/styles/colors' as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 378px;
  min-height: 504px;
  border: 1px solid color(dark, 300);
  padding: 24px;

  svg {
    cursor: pointer;
    transition: transform 0.2s;
    margin: 1rem;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.linkSignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: color(light, 100);

  a {
    margin-top: 12px;
    color: color(accent, 500);
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    transition: color 0.2s ease;

    &:hover {
      color: color(light, 100);
      text-decoration: none;
    }
  }
}
