.sidebar {
  position: fixed;
  top: 61px; /* учитывая фиксированный Header */
  left: 0;
  height: calc(100vh - 78px); 
  width: 220px;
  background-color: var(--color-primary-dark-700);
  color: var(--color-primary-light-100);
  border-right: 1px solid var(--color-primary-dark-300);
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  transition: transform 0.3s ease;


  @media (max-width: 768px) {
    transform: translateX(-100%);
  }

  &.open {
    transform: translateX(0);
  }
}


.nav {
  flex: 1;
  overflow-y: auto;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.navItem {
  display: flex;
  align-items: center;
  margin: 0 0 25px 60px;
  font-weight: var(--font-weight-medium);
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;

  &.active {
    color: var(--color-primary-accent-500);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  color: inherit;
}

.label {
  white-space: nowrap;
  color: inherit;
  width: 75px;
  height: 24px;
  display: flex;             
  align-items: center;       
  justify-content: flex-start; 
}

.logout {
  display: flex;
  margin: 0 0 25px 65px; 
  font-weight: var(--font-weight-medium);
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;          
  line-height: 24px;   
  height: 24px;  

  &.active {
    color: var(--color-primary-accent-500);
  }
}


/* Темный overlay при открытом сайдбаре (для мобильной версии) */
.overlay {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 64px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
}

.section {
  margin-top: 70px;

  &:not(:last-child) {
    margin-bottom: 60px; 
  }
}
