:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary-accent-100: #73a5ff;
  --color-primary-accent-300: #4c8dff;
  --color-primary-accent-500: #397df6;
  --color-primary-accent-700: #2f68cc;
  --color-primary-accent-900: #234e99;
  --color-primary-danger-100: #ff8099;
  --color-primary-danger-300: #f23d61;
  --color-primary-danger-500: #cc1439;
  --color-primary-danger-700: #990f2b;
  --color-primary-danger-900: #660a1d;
  --color-primary-dark-100: #4c4c4c;
  --color-primary-dark-300: #333333;
  --color-primary-dark-500: #171717;
  --color-primary-dark-700: #0d0d0d;
  --color-primary-dark-900: #000000;
  --color-primary-light-100: #ffffff;
  --color-primary-light-300: #f7fbff;
  --color-primary-light-500: #edf3fa;
  --color-primary-light-700: #d5dae0;
  --color-primary-light-900: #8d9094;
  --color-primary-success-100: #80ffbf;
  --color-primary-success-300: #22e584;
  --color-primary-success-500: #14cc70;
  --color-primary-success-700: #0f9954;
  --color-primary-success-900: #0a6638;
  --color-primary-warning-100: #ffd073;
  --color-primary-warning-300: #e5ac39;
  --color-primary-warning-500: #d99000;
  --color-primary-warning-700: #996600;
  --color-primary-warning-900: #664400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  body {
    max-width: 360px;
    padding: 0 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
