@use '../shared/styles' as *;

/* Базовые сбросы */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Основные стили */
html,
body {
  overflow-x: hidden;
}

body {
  color: var(--color-primary-light-100); /* Генерация CSS-переменных */
  background: map-get(map-get($colors, dark), 500); /* Миксин */
  font-family: var(--font-inter), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  margin: 0 auto;

  /* Мобильная версия */
  @media (max-width: 576px) {
    max-width: 360px;
  }
}

/* Ссылки */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Кнопки */
button {
  cursor: pointer;
}
