@use '../../styles/colors' as *;

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  inset: 0;
  z-index: 999;
}

.content {
  background: color(dark, 300);
  border: 1px solid color(dark, 100);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  outline: none;

  &.dark300 {
    background: color(dark, 300);
  }

  &.dark500 {
    background: color(dark, 500);
  }

  &.border-dark100 {
    border: 1px solid color(dark, 100);
  }

  &.border-dark300 {
    border: 1px solid color(dark, 300);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding: 11px 0px 12px 24px;
  font-size: 20px;
  font-weight: 700;
  color: color(light, 100);
  line-height: 36px;
}

.closeButton {
  padding: 18px 24px 12px 0px;
  background: none;
  border: none;
  color: color(light, 100);
  cursor: pointer;
}

.divider {
  height: 1px;
  background-color: color(dark, 100);
}

.body {
  color: color(light, 100);
}
