.large {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
}

.H1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.H2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.H3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.regular_text_16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.bold_text_16 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.regular_text_14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.medium_text_14 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.bold_text_14 {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.small_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.semi-bold_small_text {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.regular_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
}

.small_link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
}
