.selector {
  position: relative;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  color: var(--color-primary-light-900);
}

.selectedValue {
  padding: 10px 15px;
  border: 1px solid var(--color-primary-dark-100);
  border-radius: 4px;
  color: var(--color-primary-light-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  transition: transform 0.2s ease;
  font-size: 10px;
  margin-left: 10px;
}

.arrow.open {
  transform: rotate(180deg);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid var(--color-primary-light-700);
  border-radius: 4px;
  color: var(--color-primary-light-100);
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.option {
  padding: 10px 15px;
  transition: background-color 0.2s ease;
}

.option:hover {
  background-color: var(--color-primary-dark-300);
  color: var(--color-primary-accent-500);
}

.option.selected {
  background-color: var(--color-primary-dark-300);
  color: var(--color-primary-accent-500);
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
